rx-marbles {
    text-align: initial;
    color: initial;
    font-size: initial;
}

.implementations img {
    height: 250px; 
}

.implementations figure {
    float: left;
    margin: 20px !important;
}

.interactive {
    color: springgreen;
}